USE [master]
GO
/****** Object:  Database [location_vehicule]    Script Date: 31/01/2020 17:11:35 ******/
CREATE DATABASE [location_vehicule]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'location_vehicule', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\location_vehicule.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'location_vehicule_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\location_vehicule_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [location_vehicule].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [location_vehicule]
GO
/****** Object:  Table [dbo].[categorie]    Script Date: 31/01/2020 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorie](
	[ID_Categorie] [int] IDENTITY(1,1) NOT NULL,
	[nom_categorie] [varchar](255) NOT NULL,
 CONSTRAINT [categorie_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[classe]    Script Date: 31/01/2020 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classe](
	[ID_Classe] [int] IDENTITY(1,1) NOT NULL,
	[nom_classe] [varchar](255) NOT NULL,
 CONSTRAINT [classe_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Classe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    Script Date: 31/01/2020 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[ID_Client] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[prenom] [varchar](255) NOT NULL,
	[mail] [varchar](255) NOT NULL,
	[tel] [varchar](255) NOT NULL,
 CONSTRAINT [client_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[concessionnaire]    Script Date: 31/01/2020 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[concessionnaire](
	[ID_Concessionnaire] [int] IDENTITY(1,1) NOT NULL,
	[ville] [varchar](255) NOT NULL,
	[code_postal] [varchar](255) NOT NULL,
	[adresse] [varchar](255) NOT NULL,
 CONSTRAINT [concessionnaire_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Concessionnaire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[couleur]    Script Date: 31/01/2020 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[couleur](
	[ID_Couleur] [int] IDENTITY(1,1) NOT NULL,
	[nom_couleur] [varchar](255) NOT NULL,
 CONSTRAINT [couleur_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Couleur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marque]    Script Date: 31/01/2020 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marque](
	[ID_Marque] [int] IDENTITY(1,1) NOT NULL,
	[nom_marque] [varchar](255) NOT NULL,
 CONSTRAINT [marque_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Marque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modele]    Script Date: 31/01/2020 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modele](
	[ID_Modele] [int] IDENTITY(1,1) NOT NULL,
	[marque_ID] [int] NOT NULL,
	[nom_modele] [varchar](255) NOT NULL,
 CONSTRAINT [modele_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Modele] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moteur]    Script Date: 31/01/2020 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moteur](
	[ID_Moteur] [int] IDENTITY(1,1) NOT NULL,
	[type_carburant] [varchar](255) NOT NULL,
	[type_moteur] [varchar](255) NOT NULL,
	[puissance_moteur] [int] NOT NULL,
	[vitesse_max] [int] NOT NULL,
 CONSTRAINT [moteur_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Moteur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservation]    Script Date: 31/01/2020 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation](
	[ID_Reservation] [int] IDENTITY(1,1) NOT NULL,
	[client_ID] [int] NOT NULL,
	[vehicule_ID] [int] NOT NULL,
	[date_location] [date] NOT NULL,
	[date_rendu] [date] NOT NULL,
 CONSTRAINT [reservation_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Reservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicule]    Script Date: 31/01/2020 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicule](
	[ID_Vehicule] [int] IDENTITY(1,1) NOT NULL,
	[classe_ID] [int] NOT NULL,
	[categorie_ID] [int] NOT NULL,
	[modele_ID] [int] NOT NULL,
	[nb_place] [int] NOT NULL,
	[couleur_ID] [int] NOT NULL,
	[moteur_ID] [int] NOT NULL,
	[concessionnaire_ID] [int] NOT NULL,
	[est_reserve] [tinyint] NOT NULL,
 CONSTRAINT [vehicule_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Vehicule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categorie] ON 

INSERT [dbo].[categorie] ([ID_Categorie], [nom_categorie]) VALUES (1, N'Coupé')
INSERT [dbo].[categorie] ([ID_Categorie], [nom_categorie]) VALUES (2, N'Roadster')
INSERT [dbo].[categorie] ([ID_Categorie], [nom_categorie]) VALUES (3, N'Crossover')
SET IDENTITY_INSERT [dbo].[categorie] OFF
SET IDENTITY_INSERT [dbo].[classe] ON 

INSERT [dbo].[classe] ([ID_Classe], [nom_classe]) VALUES (1, N'classe 1')
INSERT [dbo].[classe] ([ID_Classe], [nom_classe]) VALUES (2, N'classe 2')
INSERT [dbo].[classe] ([ID_Classe], [nom_classe]) VALUES (3, N'classe 3')
SET IDENTITY_INSERT [dbo].[classe] OFF
SET IDENTITY_INSERT [dbo].[client] ON 

INSERT [dbo].[client] ([ID_Client], [nom], [prenom], [mail], [tel]) VALUES (1, N'Sosa', N'Aiko', N'ligula@sollicitudincommodoipsum.org', N'02 24 09 37 49')
INSERT [dbo].[client] ([ID_Client], [nom], [prenom], [mail], [tel]) VALUES (2, N'Brooks', N'Logan', N'consequat@sapien.co.uk', N'05 46 36 98 84')
INSERT [dbo].[client] ([ID_Client], [nom], [prenom], [mail], [tel]) VALUES (3, N'Sheppard', N'Ray', N'quam@velnisl.co.uk', N'07 40 14 66 57')
GO
SET IDENTITY_INSERT [dbo].[client] OFF
SET IDENTITY_INSERT [dbo].[concessionnaire] ON 

INSERT [dbo].[concessionnaire] ([ID_Concessionnaire], [ville], [code_postal], [adresse]) VALUES (1, N'Punta Arenas', N'89207-956', N'431-8624 Non Av.')
INSERT [dbo].[concessionnaire] ([ID_Concessionnaire], [ville], [code_postal], [adresse]) VALUES (2, N'Bellevue', N'3853', N'1270 Duis Ave')
INSERT [dbo].[concessionnaire] ([ID_Concessionnaire], [ville], [code_postal], [adresse]) VALUES (3, N'Paulatuk', N'663980', N'P.O. Box 342, 2690 Donec Street')
GO
SET IDENTITY_INSERT [dbo].[concessionnaire] OFF
SET IDENTITY_INSERT [dbo].[couleur] ON 

INSERT [dbo].[couleur] ([ID_Couleur], [nom_couleur]) VALUES (1, N'Jaune miel')
INSERT [dbo].[couleur] ([ID_Couleur], [nom_couleur]) VALUES (2, N'Jaune maïs')
INSERT [dbo].[couleur] ([ID_Couleur], [nom_couleur]) VALUES (3, N'Jaune narcisse')
GO
SET IDENTITY_INSERT [dbo].[couleur] OFF
SET IDENTITY_INSERT [dbo].[marque] ON 

INSERT [dbo].[marque] ([ID_Marque], [nom_marque]) VALUES (1, N'Citroen')
INSERT [dbo].[marque] ([ID_Marque], [nom_marque]) VALUES (2, N'Kia')
SET IDENTITY_INSERT [dbo].[marque] OFF
SET IDENTITY_INSERT [dbo].[modele] ON 

INSERT [dbo].[modele] ([ID_Modele], [marque_ID], [nom_modele]) VALUES (1, 1, N'2 CV')
INSERT [dbo].[modele] ([ID_Modele], [marque_ID], [nom_modele]) VALUES (2, 1, N'AX')
INSERT [dbo].[modele] ([ID_Modele], [marque_ID], [nom_modele]) VALUES (3, 1, N'Berlingo')
SET IDENTITY_INSERT [dbo].[modele] OFF
SET IDENTITY_INSERT [dbo].[moteur] ON 

INSERT [dbo].[moteur] ([ID_Moteur], [type_carburant], [type_moteur], [puissance_moteur], [vitesse_max]) VALUES (1, N'SP-92', N'Essence', 28, 97)
INSERT [dbo].[moteur] ([ID_Moteur], [type_carburant], [type_moteur], [puissance_moteur], [vitesse_max]) VALUES (2, N'SP-92', N'Essence', 17, 95)
INSERT [dbo].[moteur] ([ID_Moteur], [type_carburant], [type_moteur], [puissance_moteur], [vitesse_max]) VALUES (3, N'SP-92', N'Essence', 18, 95)
GO
SET IDENTITY_INSERT [dbo].[moteur] OFF
SET IDENTITY_INSERT [dbo].[vehicule] ON 

INSERT [dbo].[vehicule] ([ID_Vehicule], [classe_ID], [categorie_ID], [modele_ID], [nb_place], [couleur_ID], [moteur_ID], [concessionnaire_ID], [est_reserve]) VALUES (1, 1, 9, 1, 4, 136, 1, 173, 0)
INSERT [dbo].[vehicule] ([ID_Vehicule], [classe_ID], [categorie_ID], [modele_ID], [nb_place], [couleur_ID], [moteur_ID], [concessionnaire_ID], [est_reserve]) VALUES (2, 1, 9, 1, 4, 202, 2, 79, 0)
INSERT [dbo].[vehicule] ([ID_Vehicule], [classe_ID], [categorie_ID], [modele_ID], [nb_place], [couleur_ID], [moteur_ID], [concessionnaire_ID], [est_reserve]) VALUES (3, 1, 9, 1, 4, 21, 3, 131, 0)
GO
SET IDENTITY_INSERT [dbo].[vehicule] OFF
ALTER TABLE [dbo].[vehicule] ADD  DEFAULT ((0)) FOR [est_reserve]
GO
ALTER TABLE [dbo].[modele]  WITH CHECK ADD  CONSTRAINT [modele_marque_fk] FOREIGN KEY([marque_ID])
REFERENCES [dbo].[marque] ([ID_Marque])
GO
ALTER TABLE [dbo].[modele] CHECK CONSTRAINT [modele_marque_fk]
GO
ALTER TABLE [dbo].[reservation]  WITH CHECK ADD  CONSTRAINT [reservation_client_fk] FOREIGN KEY([client_ID])
REFERENCES [dbo].[client] ([ID_Client])
GO
ALTER TABLE [dbo].[reservation] CHECK CONSTRAINT [reservation_client_fk]
GO
ALTER TABLE [dbo].[reservation]  WITH CHECK ADD  CONSTRAINT [reservation_vehicule_fk] FOREIGN KEY([vehicule_ID])
REFERENCES [dbo].[vehicule] ([ID_Vehicule])
GO
ALTER TABLE [dbo].[reservation] CHECK CONSTRAINT [reservation_vehicule_fk]
GO
ALTER TABLE [dbo].[vehicule]  WITH CHECK ADD  CONSTRAINT [vehicule_categorie_fk] FOREIGN KEY([categorie_ID])
REFERENCES [dbo].[categorie] ([ID_Categorie])
GO
ALTER TABLE [dbo].[vehicule] CHECK CONSTRAINT [vehicule_categorie_fk]
GO
ALTER TABLE [dbo].[vehicule]  WITH CHECK ADD  CONSTRAINT [vehicule_classe_fk] FOREIGN KEY([classe_ID])
REFERENCES [dbo].[classe] ([ID_Classe])
GO
ALTER TABLE [dbo].[vehicule] CHECK CONSTRAINT [vehicule_classe_fk]
GO
ALTER TABLE [dbo].[vehicule]  WITH CHECK ADD  CONSTRAINT [vehicule_concessionnaire_fk] FOREIGN KEY([concessionnaire_ID])
REFERENCES [dbo].[concessionnaire] ([ID_Concessionnaire])
GO
ALTER TABLE [dbo].[vehicule] CHECK CONSTRAINT [vehicule_concessionnaire_fk]
GO
ALTER TABLE [dbo].[vehicule]  WITH CHECK ADD  CONSTRAINT [vehicule_couleur_fk] FOREIGN KEY([couleur_ID])
REFERENCES [dbo].[couleur] ([ID_Couleur])
GO
ALTER TABLE [dbo].[vehicule] CHECK CONSTRAINT [vehicule_couleur_fk]
GO
ALTER TABLE [dbo].[vehicule]  WITH CHECK ADD  CONSTRAINT [vehicule_modele_fk] FOREIGN KEY([modele_ID])
REFERENCES [dbo].[modele] ([ID_Modele])
GO
ALTER TABLE [dbo].[vehicule] CHECK CONSTRAINT [vehicule_modele_fk]
GO
ALTER TABLE [dbo].[vehicule]  WITH CHECK ADD  CONSTRAINT [vehicule_moteur_fk] FOREIGN KEY([moteur_ID])
REFERENCES [dbo].[moteur] ([ID_Moteur])
GO
ALTER TABLE [dbo].[vehicule] CHECK CONSTRAINT [vehicule_moteur_fk]
GO
USE [master]
GO
